{% extends 'sensor/base.html' %}
{% load static %}
{% block footer %}
<footer>
<section style="height:80px;"></section>
<!----------- Footer ------------>
<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <img src="{% static 'logo/universidad.png' %}" class="img-fluid" alt="Avatar">
            <p>Universidad Católica de Colombia</p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Contacto </h4>
            <div class="col-md-6">
                <ul class="pages">
                    <li><b>Danna Catherine Rueda Torres</b> - dcrueda87@ucatolica.edu.co</li>
                    <li><b>Camila Quintero Rojas</b> - cquintero98@ucatolica.edu.co</li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Asesor de trabajo de grado</h4>
            <ul>
                <li><b> Henry Zárate Ceballos</b></li>
                <li>hzarate@ucatolica.edu.co</li>
            </ul>
        </div>
    </div>
</footer>
</footer>
{% endblock %}